<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<typeAliases>
	    <typeAlias type="kr.car.domain.MembersVO" alias="membersVO"/>
	    <typeAlias type="kr.car.domain.AlarmsVO" alias="alarmsVO"/>
	    <typeAlias type="kr.car.domain.AlarmtypesVO" alias="alarmtypesVO"/>
	    <typeAlias type="kr.car.domain.DrivingVO" alias="drivingVO"/>
	    <typeAlias type="kr.car.domain.HabitsVO" alias="habitsVO"/>
	    <typeAlias type="kr.car.domain.RestsVO" alias="restsVO"/>
	    <typeAlias type="kr.car.domain.RestareasVO" alias="restareasVO"/>
	    
		<!-- <typeAlias type="kr.smhrd.domain.BoardVO" alias="boardVO"/>
		<typeAlias type="kr.smhrd.domain.SearchVO" alias="searchVO"/> -->
	</typeAliases>
	
	<!-- 
	<environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>                 
      </dataSource>
    </environment>
  </environments> -->
	
</configuration>
