<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.car.mapper.CMapper">
    
    <select id="loginFunction" parameterType="memberVO" resultType="memberVO">
	 SELECT*from member where memberid=#{memberid} and password=#{password}
	</select>
	
    <select id="driveList" resultType="driveVO">
        select * from drive
    </select>
    
    <select id="restList" resultType="restVO">
        select * from rest
    </select>
    
    <insert id="dstart" parameterType="memberVO">
      insert into drive(drivestart,memberid) values(now(),#{memberid});     
    </insert>
    
    <update id="dend" parameterType="memberVO">
	 update drive set driveend = now() where driveend is null;
	</update>
    
</mapper>
