/* @charset "UTF-8"; */
/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
/* background-image: url('https://blog.hmgjournal.com/images_n/contents/170418_drive01.jpg'); */
/* background-image: url('../../images/login3.png'); */
/* background-color: #1a426f; */
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: san-serif;
}


.container{
height: 100%;
align-content: center;
text-align: center;

}

.card{
height: 300px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: white;
border-color: #12cbc4;
outline:0;
}

.social_icon span{
font-size: 30px;
margin-left: 10px;
color: #0000a0;
background-color: #0000ff;
}

.social_icon span:hover{
color: #12cbc4;
cursor: pointer;
}

.card-header {
background-color: white;
border:0;
}

.card-header h2{
color: #12cbc4;
height: 28px;
font-weight: bold;
}

.card-body {
color: black;
height: 30px;
font-weight: bold;
}


.card-footer {
background-color: white;
border-color: #12cbc4;
}


.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 40px;
background-color: #12cbc4;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 1 0 !important;

}

.remember{
color: #000040;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: #12cbc4;
background-color: white;
width: 100px;
}

.login_btn:hover{
color: white;
background-color: #12cbc4;
}

.links{
color: #0fb9b1;
}

.links a{
margin-left: 4px;
}